@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: grey;
    display: flex;
	flex-direction: column;
    align-items: center;
	justify-content: flex-start;
	align-items: center;
}
    
header {
    
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
    background-color: rgb(86, 209, 86);
    width: 80%;
    
}
nav {
    
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	align-content: stretch;
 }
ul,a {
    display:flex;
    justify-content: space-between;
    padding:15px;
    list-style:none;
    font-size: 21px;
    color: black;
}
li{
    display:flex;
    padding:15px;
}

main{
    display: flex;
	flex-direction: column;
	justify-content: space-around;
    align-items: center;
    width: 80%;
    background-color: white;
}     
article{
  padding-left:20px;
  padding-right:20px;
  padding-bottom:20px;
}          
h2{
    font-size: 26px;
    color: rgb(86, 209, 86);
}
p{
    font-size: 21px;
}

.article_picture{
   float: left;
   width: 150px;
   height: 150px;
   padding-right: 30px;
}
button {
    float:right;
    background-color: rgb(86, 209, 86);
    color:white;
    height: 40px;
    width: 120px;
    }


.clear{
    clear:both;
}


